<div class="banner">
  <img class="bannerImg" src="https://api.infofix.eu/list/file/uploads/{{pImg}}">
</div>

<mat-form-field appearance="fill" class="nameInput">
  <mat-label>Image</mat-label>
  <input matInput #projectName [(ngModel)]="pImg">
</mat-form-field>

<div class="head">

  <mat-form-field appearance="fill" class="nameInput">
    <mat-label>Name</mat-label>
    <input matInput #li [(ngModel)]="pName">
  </mat-form-field>

</div>

<div class="body">
  <mat-form-field appearance="fill" class="descInput">
    <mat-label>Description</mat-label>
    <input #li matInput [(ngModel)]="pDesc">
    <br>
  </mat-form-field>


</div>

<div class="footer">

      <div class="tags-inp">
        <i style="margin-right: 0.3em;" class="descInput"></i>
        <mat-form-field appearance="fill">
          <mat-label>Category</mat-label>
          <mat-select [(ngModel)]="pCatId">
            <mat-option>--</mat-option>
            <mat-option value="1">Hrana</mat-option>
            <mat-option value="2">Oblačila</mat-option>
            <mat-option value="3">Celje</mat-option>
            <mat-option value="4">Koper</mat-option>
            <mat-option value="5">Test Region</mat-option>
          </mat-select>
        </mat-form-field>
  
      </div> 
  
    </div>

{{pUserName}}

{{pUserId}}

<!-- <iframe src="https://api.infofix.eu/list/file/" title="Fup"></iframe>  -->

<div class="buttons">
  <button mat-raised-button color="primary" class="btn-save" (click)="add(); li.value='';">
    <span>Dodaj predmet</span>
  </button>
</div>

<h2>{{status}}</h2>