.h3 {
  display: inline;
  text-align: left;
}

/* Project List */
.listFull {
  font-size: 16px;
  width: 95%;
  margin: auto;
  padding-left: 0;
  list-style-type:none;
  text-align: left;
}

.listFull li {
  background-image: linear-gradient(#29e732bb, rgba(255, 255, 255, 0));
  margin-bottom: 2em;
  padding-left: 0;
  box-shadow: 0px 0px 5px 5px rgba(180,180,180,0.2);
}

.listFull li:hover {
  background-image: linear-gradient(white, rgb(224, 219, 224));
  box-shadow: 0px 0px 5px 5px rgba(180,180,180,0.4);
}

/* Empty List */
.listEmpty {
  font-size: 16px;
  width: 95%;
  margin: auto;
  padding-left: 0;
  list-style-type:none;
  text-align: left;
}

.listEmpty li {
  background-image: linear-gradient(#e72929bb, rgba(255, 255, 255, 0));
  margin-bottom: 2em;
  padding-left: 0;
  box-shadow: 0px 0px 5px 5px rgba(180,180,180,0.2);
}

.listEmpty li:hover {
  background-image: linear-gradient(white, rgb(224, 219, 224));
  box-shadow: 0px 0px 5px 5px rgba(180,180,180,0.4);
}

//HEAD
.head {
  color: white;
  background-image: linear-gradient(#30589E, #5929E7);

}

.title {
  font-size: 18px;
  padding: 0.4em;
  margin: 0.4em;
  display: inline-block;
  padding-right: 1em;
}

.title, .user, .status, a:link {
  color: white;
  text-decoration: none;
}

.title, .user, .status, a:visited {
  color: white ;
}

.title, .user, .status, a:hover {
  color: lightgray;
}

.desc a {
  font-size: 17px;
}

.desc a:link {
  font-size: 17px;
  font-weight: 300;
  line-height: 1.4;
  color: #5929e7;
  text-decoration: none;
}

.desc a:visited {
  color: #5929e7;
}

.desc a:hover {
  color: #30589E;
}

.date {
  font-size: 16px;
  font-weight: 200;
  padding: 0.4em;
  margin: 0.4em;
  display: inline-block;
}

.user {
  font-size: 17px;
  font-weight: 300;
  padding: 0.4em;
  margin: 0.4em;
  display: inline-block;

}

.team {
  padding: 0.4em;
  margin: 0.4em;
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  border: 2px solid yellow;
}

.status {
  padding: 0.4em;
  margin: 0.4em;
  display: inline-block;
  font-size: 16px;
  color: aqua;
  font-weight: 500;
  border: 2px solid aqua;
}

.likes {
  display: block;
  padding: 0.4em;
  margin: 0.4em;
  font-size: 18px;
  float: right;
}

//BODY
.body {
  color: black;
  cursor: pointer;
}

.desc {
  padding: 1em;
}

//FOOTER
.footer {
  color: white;
}

.tags {
  background-color: #3c8ad6;
  padding: 0.4em;
  margin: 0.3em;
  display: inline-block;
  box-shadow: 0px 5px 5px 0px rgba(180,180,180,1);
}

.tags:hover {
  background-color: #3779c1;
}

.category {
  background-color: #3c8ad6;
  padding: 0.4em;
  margin: 0.3em;
  display: inline-block;
}

.category:hover {
  background-color: #3779c1;
}

.check {
  padding: 0.4em;
  margin: 0.3em;
  display: inline-block;

}

::ng-deep .mat-slide-toggle-bar {
  transform: scale(1.2);
}

.username {
  background-color: blue;
  padding: 0.4em;
  margin: 0.3em;
  display: inline-block;
}

.username:hover {
  background-color: #3779c1;
}

.region {
  background-color: #3c8ad6;
  padding: 0.4em;
  margin: 0.3em;
  display: inline-block;
}

.region:hover {
  background-color: #3779c1;
}

.files {
  background-color: #3c8ad6;
  padding: 0.4em;
  margin: 0.3em;
  display: inline-block;
  box-shadow: 0px 5px 5px 0px rgba(180,180,180,1);
}

.files:hover {
  background-color: #3779c1;
}

.comm {
  background-color: #3c8ad6;
  padding: 0.4em;
  margin: 0.3em;
  display: inline-block;
  box-shadow: 0px 5px 5px 0px rgba(180,180,180,1);
}

.comm:hover {
  background-color: #3779c1;
}

hr {
  color: #5829e781;
}

.bannerImg {
  max-height: 100%;
  max-width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
}

.banner {
height: 150px;
width: 450px;
}

@media screen and (max-width: 600px) {
  .banner {
    width: auto; /* The width is 100%, when the viewport is 800px or smaller */
    height: 100px;
  }
}

.upvote i {
  margin-left: 0.3em; font-size: 22px;
}

.upvote:hover {
  color: lightgreen;
}

.downvote i {
  margin-left: 0.3em; font-size: 22px;
}

.downvote:hover {
  color: orangered;
}

.fav i {
  margin-left: 0.3em; font-size: 22px;
}

.fav:hover {
  color: red;
}

.example-additional-selection {
  opacity: 0.75;
  font-size: 0.75em;
}

.input {
  margin-left: 0.4em;
  margin-right: 0.4em;
}

.selectText {
  font-size: 20px;
}

.main {
  padding: 1em;
}

mat-form-field {
  width: 6em;
}
