<!--
<div class="form-group">
  <button type="button" (click)="getProjs()">Refresh List</button>
</div>

<div *ngIf="loading">Loading...</div>

<div *ngIf="errorMessage" class="alert alert-warning">
  <strong>Warning!</strong> {{errorMessage | json}}
</div>

<pre>{{list | json}}</pre>
-->

<div class="main">
<h1 i18n="@@list">List</h1>

<!--
<div>
  <label>Item name:
    <input #heroName />
  </label>

  <button (click)="add(heroName.value); heroName.value=''">
    add
  </button>
</div>
-->
<!--
<div>
  <label>
    Project name:
    <input #projectName />
  </label>
  -- (click) passes input value to add() and then clears the input -
  <button (click)="add(projectName.value); projectName.value=''">
    add
  </button>
</div>

<input [(ngModel)]="searchText" placeholder="search text goes here">
-->

<h3>
<span class="selectText" i18n="@@showing">Showing</span>

<span class="input">
  <mat-form-field appearance="standard">
    <mat-label><span i18n="@@list">list</span></mat-label>
    <mat-select>
      <mat-option><span i18n="@@All">All</span></mat-option>
      <mat-option *ngFor="let p of pop" [value]="p.value">
        {{p.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</span>

<span class="selectText" i18n="@@in">in</span>

<span class="input">
  <mat-form-field appearance="standard">
    <mat-label><span i18n="@@category">category</span></mat-label>
    <mat-select [(value)]="status">
      <mat-option value="all"><span i18n="@@All">All</span></mat-option>
      <mat-option value="in-progress"><span i18n="@@Food">Food</span></mat-option>
      <mat-option value="done"><span i18n="@@Clothes">Clothes</span></mat-option>
    </mat-select>
  </mat-form-field>
</span>

</h3>
<!--
<ul class="listEmpty">

  <li *ngFor="let p of list | listUser; let i=index">



    <div class="banner">
      <img class="bannerImg" src="assets/">
    </div>


    <div class="head">

      <a routerLink="/{{p.id}}" class="title">{{p.name}}</a>

      <div class="category">
        <i style="margin-right: 0.3em;" class="fas fa-layer-group"></i>{{p.category_name}}
      </div>
      <div class="username">
        <i style="margin-right: 0.3em;" class="fas fa-layer-group"></i>{{p.user_name}}
      </div>

      <a class="user">NABAVA POTREBNA</a>

      <a class="user">{{p.done | inStock}} p{{p.id}} {{p.done}}</a>

      <mat-slide-toggle [(ngModel)]="p.done" id="p{{p.id}}" (change)="inStockSubmit(p)"></mat-slide-toggle>

    </div>

    <div class="body">
      <div class="desc" routerLink="/{{p.id}}">
        {{p.description}}
      </div>
    </div>

    <div class="footer">

    </div>
    <hr>
  </li>

</ul>
-->
<ul class="listFull">

  <li *ngFor="let p of list; let i=index">


<!--
    <div class="banner">
      <img class="bannerImg" src="assets/">
    </div>
  -->

    <div class="head">

      <a routerLink="/{{p.id}}" class="title">{{p.name}}</a>

      <div class="category">
        <i style="margin-right: 0.3em;" class="fas fa-layer-group"></i>{{p.category_name}}
      </div>
      <div class="username">
        <i style="margin-right: 0.3em;" class="fas fa-layer-group"></i>{{p.user_name}}
      </div>

      <a class="user">V ZALOGI</a>

      <a class="user">{{p.done | inStock}} p{{p.id}} {{p.done}}</a>

      <mat-slide-toggle [checked]="p.done | inStock" [(ngModel)]="p.done" id="p{{p.id}}" (change)="inStockSubmit(p)"></mat-slide-toggle>

    </div>



    <div class="body" routerLink="/{{p.id}}">
      <div class="desc">{{p.description}}
      </div>
    </div>

    <div class="footer">

    </div>
    <hr>
  </li>

</ul>

</div>
