<!-- Toolbar -->
<mat-toolbar>
  <mat-toolbar-row class="head">
    <div class="logo" routerLink="/l">
      <img class="logo-img"
      alt="ITC List Logo"
      src="assets\icon-72x72.png"/>
    </div>

    <div>
      <button mat-button class="toolbarBtn" routerLink="/l">Za nabavo</button>
    </div>

    <div>
      <button mat-button class="toolbarBtn" routerLink="/zaloge">V zalogi</button>
    </div>

    <div class="selectUser">
      <mat-form-field appearance="outline" >
        <mat-label>Uporabnik {{selectedUser}}</mat-label>
        <mat-select  [(value)]="selectedUser">
          <mat-option [value]='1' (click)="setUser('1')">
            Ata
          </mat-option>
          <mat-option [value]='2' (click)="setUser('2')">
            Mama
          </mat-option>
          <mat-option [value]='3' (click)="setUser('3')">
            Alen
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>





  </mat-toolbar-row>

</mat-toolbar>

<div class="body">

  <mat-expansion-panel style="margin-bottom: 5em;">
    <mat-expansion-panel-header>
      <mat-panel-title><h3>Dodaj nov predmet</h3></mat-panel-title>
    </mat-expansion-panel-header>
  
    <div>
      V razvoju
    </div>
  
  </mat-expansion-panel>

  <router-outlet></router-outlet>

</div>

<footer>

</footer>