<!-- TOOLBAR >> -->
<mat-toolbar>
  <mat-toolbar-row class="headTb">

    <div class="logo" (click)="setPage(1)">
      <img class="logo-img" alt="S-List Logo" src="assets\icon-72x72.png" />
    </div>

    <div *ngIf="access">
      <button title="Nabava" mat-stroked-button class="toolbarBtn" (click)="setPage(1)">NABAVA</button>

      <span class="vlT">|</span>

      <button title="Zaloga" mat-stroked-button class="toolbarBtn" (click)="setPage(0)">ZALOGA</button>

      <span class="vlT">|</span>

      <button title="Dodaj" mat-stroked-button class="toolbarBtn" (click)="accordion.openAll()">Dodaj +</button>
    </div>

    <a class="logout" (click)="logout()">{{uName}} < </a>

  </mat-toolbar-row>
</mat-toolbar>
<!-- << TOOLBAR -->

<!-- LOGIN PAGE >> -->
<div *ngIf="!access" style="margin-top: 5em;">


  <div>
    <img class="logoImgAuth" src="assets\icons\icon-128x128.png" alt="S-List Logo">
  </div>




  <div class="sect-1">
    <h3 class="text3">{{accessMsg}}</h3>

    <form>
      <mat-form-field class="login-txt">
        <mat-label>IME</mat-label>
        <input matInput type="text" [(ngModel)]="uName" class="login-input" [ngModelOptions]="{standalone:true}"
          autofocus aria-label="Ime">
      </mat-form-field>

      <br>
      <mat-form-field class="login-txt">
        <mat-label>GESLO</mat-label>
        <input matInput [type]="hide ? 'password' : 'number'" [(ngModel)]="role" class="login-input"
          [ngModelOptions]="{standalone:true}" aria-label="Geslo">
        <mat-icon style="font-size: 22px;" matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}
        </mat-icon>
      </mat-form-field>


    </form>


  </div>

  <div class="sect-0">
    <button mat-raised-button class="btn-a" (click)="loginDev();">
      VSTOP -_>
    </button>
  </div>


</div>
<!-- << LOGIN PAGE -->


<div *ngIf="access" class="bodyMain">

  <!-- ADD NEW ITEM >> -->
  <mat-accordion multi>
    <mat-expansion-panel class="mat-elevation-z0 new_item" style="margin: 0em 1em 3em 1em;">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon class="new_item_icon">add</mat-icon>
          Dodaj nov predmet
        </mat-panel-title>
      </mat-expansion-panel-header>

      <div>

        <mat-form-field>
          <mat-label>Slika</mat-label>
          <input matInput #projectName [(ngModel)]="pImg">
        </mat-form-field>


        <div class="bannerD">
          <img class="bannerImgD" src="https://api.infofix.eu/list/file/uploads/items/{{pImg}}">
        </div>



        <div class="">
          <!-- TODO class add-item-footer -->

          <mat-form-field>
            <mat-label>Ime</mat-label>
            <input matInput #li [(ngModel)]="pName">
          </mat-form-field>

          <mat-form-field>
            <mat-label>Opis</mat-label>
            <input matInput #li [(ngModel)]="pDesc">
          </mat-form-field>


          <mat-form-field>
            <mat-label>Prioriteta</mat-label>
            <mat-select [(value)]="pPri">
              <mat-option value="4">Visoka - 4</mat-option>
              <mat-option value="3">3</mat-option>
              <mat-option value="2">2</mat-option>
              <mat-option value="1">1</mat-option>
              <mat-option value="0">Nizka - 0</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Kategorija</mat-label>
            <mat-select [(value)]="pCatId">
              <mat-option value="100">-- Brez --</mat-option>
              <mat-option value="1">Hrana</mat-option>
              <mat-option value="2">Oblačila</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Lok. oznaka</mat-label>
            <input matInput [(ngModel)]="pFor">
          </mat-form-field>


        </div>

        <!-- TODO IMAGE
        {{pUserId}}
        <iframe src="https://api.infofix.eu/list/file/" title="Fup"></iframe>  -->

        <div class="buttons">
          <button mat-stroked-button color="warn" (click)="accordion.closeAll()">Prekliči</button>
          <button mat-flat-button color="primary" (click)="add(); li.value='';">
            <span>Dodaj predmet</span>
          </button>

        </div>

        <h2 class="status-txt">{{status}}</h2>
      </div>

    </mat-expansion-panel>
  </mat-accordion>
  <!-- << ADD NEW ITEM -->

  <!-- ITEM LIST >> -->
  <ul class="item">

    <!-- SMALL VIEW BTN -->
    <button mat-stroked-button class="small-btn" (click)="small = !small">
    <span *ngIf="small">M</span>  | | |
    </button>

    

    <h2 [ngClass]="{'h-green' :selPage == 0, 'h-red' :selPage == 1}">{{headerTxt}}</h2>

    <!-- SMALL VIEW >> 

    <div *ngIf="small">
      <li *ngFor="let p of list; let i = index" class="smL">
        <a class="floatR rBtn" (click)="save(i)"> > </a>
        <h3> > {{p.name}}</h3>
      </li>
    </div>
-->


    <div *ngIf="small" [@listAnimation]="list.length">


      <li *ngFor="let p of list; let i = index; trackBy: trackByFn;">


        <div class="small-item-head">

          <a class="item-title">{{p.name}}</a>
          <div class="item-vl"></div>

          <div class="r">
            <button class="rBtnI" mat-icon-button color="accent" (click)="trash(i)" aria-label="Delete Item">
              X
            </button>
          </div>

          <span *ngIf="p.for_id">
            <a class="item-infobox">{{p.for_id}}</a>
            <div class="item-vl"></div>
          </span>
          

          <div class="item-infobox" [ngClass]="{'pri0' :p.pri == 0, 'pri1' :p.pri == 1, 'pri2' :p.pri == 2, 
            'pri3' :p.pri == 3, 'pri4' :p.pri == 4, 'pri5' :p.pri == 5 }">
            |{{p.pri}}
          </div>


          <!-- TODO: 
            <div [ngClass]="{'in-stock' :p.done == 0, 'out-stock' :p.done == 1}">V zalogi</div> 

          <div class="item-vl"></div>

          <div *ngIf="p.done == 0" class="item-in-stock">V zalogi</div>
          <div *ngIf="p.done == 1" class="item-out-stock">Za nabavo</div>
          -->

        </div>

        <div>
          <div class="item-footer-pill" [ngClass]="{'gr' :p.done == 0, 'fr' :p.done == 1}">
            <mat-icon>category</mat-icon>
            {{p.category_name}}
          </div>




          <div *ngIf="selPage == 0" class="item-footer-pill ri del-stock" (click)="save(i)">
            <mat-icon>chevron_left</mat-icon>
            ZA NABAVO
          </div>
          <div *ngIf="selPage == 1" class="item-footer-pill ri add-stock" (click)="save(i)">
            V ZALOGO
            <mat-icon>chevron_right</mat-icon>
          </div>

          <div *ngIf="selPage == 2" class="item-footer-pill ri add-stock" (click)="save(i)">
            <mat-icon>chevron_left</mat-icon>
            VRNI
          </div>

          <!--
          <button mat-icon-button color="warn" (click)="trash(i)" class="item-delete-btn ri" aria-label="Delete Item">
            <mat-icon>chevron_right</mat-icon>
          </button>
          -->

        </div>

      </li>

    </div>


    <!-- << SMALL VIEW -->

    <!-- EMPTY VIEW >> -->
    <div *ngIf="list.length === 0 && !loading">
      <div *ngIf="selPage == 1">
        <button mat-stroked-button class="toolbarBtn" (click)="setPage(0)" [@listAnimation]>
          Seznam zalog >
        </button>
      </div>
      <div *ngIf="selPage == 0">
        <button mat-stroked-button class="toolbarBtn" (click)="setPage(1)" [@listAnimation]>
          < Seznam za nabavo </button>
      </div>
    </div>
    <!-- << EMPTY VIEW -->


    <!-- NORMAL/BIG ITEM VIEW >> -->
    <div *ngIf="!small"  [@listAnimation]="list.length">


      <li *ngFor="let p of list; let i = index; trackBy: trackByFn;">


        <!-- Item Header -->
        <div class="item-head">

          <a class="item-title">{{p.name}}</a>
          <div class="item-vl"></div>

          <div class="r">
            <button class="rBtnI" mat-icon-button color="accent" (click)="trash(i)" aria-label="Delete Item">
              X
            </button>
          </div>

          <span *ngIf="p.for_id">
            <a class="item-infobox">{{p.for_id}}</a>
            <div class="item-vl"></div>
          </span>

          <div class="item-infobox" [ngClass]="{'pri0' :p.pri == 0, 'pri1' :p.pri == 1, 'pri2' :p.pri == 2, 
            'pri3' :p.pri == 3, 'pri4' :p.pri == 4, 'pri5' :p.pri == 5 }">
            |{{p.pri}}
          </div>
          <div class="item-vl"></div>

          <!-- TODO: 
            <div [ngClass]="{'in-stock' :p.done == 0, 'out-stock' :p.done == 1}">V zalogi</div> 
          -->

          <div *ngIf="p.done == 0" class="item-in-stock">V zalogi</div>
          <div *ngIf="p.done == 1" class="item-out-stock">Za nabavo</div>


        </div>

        <!-- Item Banner -->
        <div class="item-banner" *ngIf="p.img">
          <img class="item-bannerImg" src="https://api.infofix.eu/list/file/uploads/items/{{p.img}}">
        </div>

        <!-- Item Desc -->
        <div class="item-desc" *ngIf="p.description">
          {{p.description}}
        </div>

        <!-- Item Footer -->
        <div>
          <div class="item-footer-pill" [ngClass]="{'gr' :p.done == 0, 'fr' :p.done == 1}">
            <mat-icon>category</mat-icon>
            {{p.category_name}}
          </div>




          <div *ngIf="selPage == 0" class="item-footer-pill ri del-stock" (click)="save(i)">
            <mat-icon>chevron_left</mat-icon>
            ZA NABAVO
          </div>
          <div *ngIf="selPage == 1" class="item-footer-pill ri add-stock" (click)="save(i)">
            V ZALOGO
            <mat-icon>chevron_right</mat-icon>
          </div>

          <div *ngIf="selPage == 2" class="item-footer-pill ri add-stock" (click)="save(i)">
            <mat-icon>chevron_left</mat-icon>
            VRNI
          </div>

          <!--
          <button mat-icon-button color="warn" (click)="trash(i)" class="item-delete-btn ri" aria-label="Delete Item">
            <mat-icon>chevron_right</mat-icon>
          </button>
          -->

        </div>

      </li>

    </div>
    <!-- << NORMAL/BIG VIEW -->

  </ul>
  <!-- << ITEM LIST -->

  <!-- LOADING INFO >> -->
  <div *ngIf="loading">. . .</div>

  <br>  

  <div *ngIf="errorMessage" class="alert alert-warning">
    <strong>Warning!</strong> {{errorMessage}}
  </div>
  <!-- << LOADING INFO -->




</div>

<!-- FOOTER & MISC -->
<footer>
  <div style="margin-top: 10em;">


    <div *ngIf="access">
      <button title="Trash Item" mat-icon-button (click)="setPage(2)">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
    <br>

    <a href="https://itc.infofix.eu/" target="_blank" class="footer-made">SList © Intercell Labs - Made with ❤️</a>
    <br>
    <a href="https://itc.infofix.eu/" class="footer-made">Ꮢ2022v{{appVersion}}</a>
  </div>
</footer>

<app-scroll-top></app-scroll-top>
<!-- << FOOTER & MISC -->