<!-- Toolbar -->
<mat-toolbar color="primary">
  <mat-toolbar-row>
    <div class="logo">
      <img class="logo-img"
      alt="ITC List Logo"
      src="assets\icon-256x256.png"/>
    </div>

    <div class="title">
      <span>ITC List</span>
    </div>

    <div>
      <button mat-button class="toolbarBtn" routerLink="/">Za nabaviti</button>
    </div>

    <div>
      <button mat-button class="toolbarBtn" routerLink="/zaloge">V zalogi</button>
    </div>

    <div class="selectUser">
      <mat-form-field appearance="outline">
        <mat-label>Uporabnik {{selectedUser}}</mat-label>
        <mat-select  [(value)]="selectedUser">
          <mat-option [value]='1' (click)="setUser('1')">
            Ata
          </mat-option>
          <mat-option [value]='2' (click)="setUser('2')">
            Mama
          </mat-option>
          <mat-option [value]='3' (click)="setUser('3')">
            Alen
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>





  </mat-toolbar-row>

</mat-toolbar>

<div class="body">

  <router-outlet></router-outlet>

</div>