

.head { 
  background-color: #311b92;
}


.toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    display: flex;
    align-items: center;
    background-color: #5929e7;
    color: white;
    font-weight: 600;
  }
  
  .toolbar img {
    margin: 0 16px;
  }
  
  .body {
    max-width: 1200px;
    margin: auto;
    padding: 0.4em;
    margin-top: 5em;
  }
  

  
  mat-form-field {
    margin-top: 1.4em;
    font-size: 13px;
  }
  
  @media screen and (max-width: 600px) {
    .title {
      display: none;
    }
    .logo {
      height: 20px;
    }
    .logo-img {
      width: 20px;
    }
  }
  
  .toolbarBtn {
    margin: 0.2em;
    color: white;
  }
  
  .selectUser {
    color: white;
  }
  
  .logo {
    height: 48px;
    width: auto;

  }
  .logo-img {
    width: 48px;
  }
  