

.head { 
  background-color: #311b92;
}
  
.body {
  max-width: 1200px;
  margin: auto;
  padding: 0.4em;
  margin-top: 5em;
}
  

  
  mat-form-field {
    margin-top: 1.4em;
    font-size: 13px;
  }
  
  @media screen and (max-width: 600px) {
    .title {
      display: none;
    }
    .logo {
      height: 20px;
    }
    .logo-img {
      width: 20px;
    }
  }
  
  .vl {
    color: gray;
    font-size: 18px;
  }

  .toolbarBtn {
    margin: 0.2em;
    color: white;
  }
  
  .selectUser {
    margin-top: 1.5em;
    font-size: 13px;
    color: white;
    width: 120px;
  }
  
  .logo {
    height: 48px;
    width: auto;
    margin-left: -0.5em;
  }
  .logo-img {
    width: 48px;
  }
  