.headTb {
  background-color: #311b92;
  overflow: hidden;
}

mat-form-field {
  //height: 3.7em;
  //height: 36dp;
  margin: 0.2em;
  // MAT: Body 1
  font-family: 'Poppins', sans-serif;
  font-size: 13px;
  letter-spacing: 0.5px;
  font-weight: 400;
}

::ng-deep .mat-expansion-indicator {
  margin-top: -0.5em;
}


.new_item {
  box-shadow:
    0px 2px 5.5px rgba(0, 0, 0, 0.028),
    0px 6.7px 18.5px rgba(0, 0, 0, 0.042),
    0px 30px 83px rgba(0, 0, 0, 0.07);
}


.new_item:hover {
  box-shadow:
    0px 2px 5.5px rgba(0, 0, 0, 0.069),
    0px 6.7px 18.5px rgba(0, 0, 0, 0.101),
    0px 30px 83px rgba(0, 0, 0, 0.17);
}

.new_item_icon {
  font-size: 14px;
  margin-top: 0.7em;
  margin-left: -0.5em;
  color: rgba(0, 0, 0, 0.54);
}

.footer-made:link {
  // Headline 6
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  letter-spacing: 0.15px;

  color: #311b92;
  text-decoration: none;
  display: inline-block;
  line-height: 1.4;
  padding: 0;
  margin: 0.3em;
}

.footer-made:visited {
  color: #784dec;
}

.footer-made:hover {
  color: #936eef;
}


.bodyMain {
  min-height: 1000px;
  max-width: 850px;
  margin: auto;
  padding: 0.4em;
  margin-top: 2em;
}

.text3 {
  // Headline 4
  font-family: 'Lato', sans-serif;
  font-size: 35px;
  margin: 0.5em;
  letter-spacing: 0px;
  line-height: 1.2;
}

.login-txt {
  // Headline 6
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  letter-spacing: 0px;
  width: 150px;
}

.login-input {
  // Headline 5
  font-family: 'Raleway', sans-serif;
  font-size: 24px;
  letter-spacing: 0.25px;
}

.buttons button {
  margin: 0.3em;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  letter-spacing: 1.25px;
}

.logout {
  color: white;
  margin-left: auto;
  margin-right: 0;
  // Button
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  letter-spacing: 1.25px;
  font-weight: 400;
  transition: .1s ease-in-out;
}

.logout:hover {
  color: red;
  cursor: pointer;
  text-decoration: line-through;
}

.btn-a {
  // Headline 5
  font-family: 'Raleway', sans-serif;
  font-size: 24px;
  letter-spacing: 0.25px;

  background-color: #311b92;
  margin: 0.3em;
  color: white;
  padding: 5px;
  padding-left: 2em;
  padding-right: 2em;
  border-style: solid;
  border-color: white;
  border-width: 2px;
  border-radius: 50px;
}

.btn-a:hover {
  border-color: #275dd3;
  background-color: #275dd3;
}



.vlT {
  color: gray;
  font-size: 18px;
}

.toolbarBtn {
  // BUTTON
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  letter-spacing: 0.25px;
  margin: 0.2em;
  color: white;
  background-color: #311b92;
  transition: .1s ease-in-out;
}

.toolbarBtn:hover {
  border-color: #275dd3;
  background-color: #275dd3;
}

.sect-0 {
  background-color: #311b92;
  padding: 2em;
  margin-bottom: 2em;
  color: white;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button.login-input {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number].login-input {
  -moz-appearance: textfield;
}


.logoImgAuth {
  height: 96px;
  width: auto;
}

.logo {
  height: 48px;
  width: auto;
}

.logo:hover {
  cursor: pointer;
}

.logo-img {
  width: 48px;
}

// HEADLINES
.h-red {
  // MAT: Headline 5
  font-family: 'Raleway', sans-serif;
  font-size: 21px;
  letter-spacing: 0px;
  font-weight: 400;

  border-left: 5px solid red;
  padding-left: 8px;

  transition: .1s ease-in-out;
}

.h-green {
  // MAT: Headline 5
  font-family: 'Raleway', sans-serif;
  font-size: 21px;
  letter-spacing: 0px;
  font-weight: 400;

  border-left: 5px solid rgb(0, 255, 34);
  padding-left: 8px;

  transition: .1s ease-in-out;
}

/* ! ITEM ! */
.item {
  font-size: 16px;
  width: 95%;
  margin: auto;
  padding-left: 0;
  list-style-type: none;
  text-align: left;
}

/* ITEM - LIST */
.item li {
  padding-left: 0;
  //box-shadow: 0px 2px 10px 2px rgba(180, 180, 180, 0.2);
  transition: all 0.25s ease-out;

  //border-bottom: 2px solid #311b9242;

  box-shadow:
  0px 2.5px 6px rgba(50, 50, 50, 0.032),
  0px 11.3px 24.9px rgba(50, 50, 50, 0.045),
  0px 69px 130px rgba(50, 50, 50, 0.1)
;


border-radius: 0px 0px 4px 4px; 
//   box-shadow:
//   0px 0.9px 2.8px rgba(100, 100, 100, 0.017),
//   0px 2.7px 6.7px rgba(100, 100, 100, 0.024),
//   0px 5.9px 12.5px rgba(100, 100, 100, 0.029),
//   0px 12.1px 22.3px rgba(100, 100, 100, 0.034),
//   0px 25.8px 41.8px rgba(54, 54, 54, 0.042),
//   0px 74px 100px rgba(54, 54, 54, 0.07)
// ;

  // box-shadow:
  //   0px 0.6px 2.2px rgba(54, 54, 54, 0.011),
  //   0px 1.3px 5.3px rgba(54, 54, 54, 0.016),
  //   0px 2.5px 10px rgba(54, 54, 54, 0.02),
  //   0px 4.5px 17.9px rgba(54, 54, 54, 0.024),
  //   0px 8.4px 33.4px rgba(54, 54, 54, 0.029),
  //   0px 20px 80px rgba(54, 54, 54, 0.04);
}

.item li:hover {
  //background-image: linear-gradient(white, rgba(224, 219, 224, 0.205));
  //box-shadow: -1px 3px 10px 3px rgba(0, 0, 0, 0.2);
}

.smL h3 {
  margin-left: 0.5em;
}

.small-btn {
  // Headline 6
  font-family: 'Raleway', sans-serif;
  font-size: 21px;
  letter-spacing: 0px;
  font-weight: 400;

  float: right;
  display: block;
  height: 32px;
  line-height: 0;
}

// SMALL ITEM HEAD
.small-item-head {
  margin-top: 12px;
  color: white;
  background-color: #331b92;
  margin-bottom: 0.5em;
  overflow: hidden;

  border-radius: 4px 4px 0px 0px; 
}


// ITEM HEAD
.item-head {
  margin-top: 24px;
  color: white;
  background-color: #331b92;
  margin-bottom: 0.5em;
  overflow: hidden;

  border-radius: 4px 4px 0px 0px; 
}

.item-vl {
  display: inline-block;
  border-right: 1px solid #ababab;
  font-weight: 500;
  vertical-align: middle;
  height: 1.5em;
  margin: 0.1em;
}

.status-txt {
  // Headline 6
  font-family: 'Raleway', sans-serif;
  font-size: 21px;
  letter-spacing: 0px;
  font-weight: 400;

  color: black;

  margin: 0.5em;


}

.item-title {
  // Headline 6
  font-family: 'Raleway', sans-serif;
  font-size: 17px;
  letter-spacing: 0.15px;
  font-weight: 500;

  line-height: 35px;

  margin: 0.4em;
  margin-left: 0.6em;
  margin-right: 0.6em;
  display: inline-block;

}

.item-title,
.item-user,
.item-status,
a:link {
  color: white;
  text-decoration: none;
  vertical-align: middle;
}

.item-title,
.item-user,
.item-status,
a:visited {
  color: white;
}

// ITEM BODY
.item-desc {
  // MAT: Body 1
  font-family: 'Poppins', sans-serif;
  font-size: 13px;
  letter-spacing: 0.5px;
  font-weight: 400;

  padding: 1.2em;
  padding-top: 0.5em;
}

.item-desc a {
  color: #5929e7;
}

.item-desc a:link {
  text-decoration: none;
}

.item-desc a:visited {
  color: #5929e7;
}

.item-desc a:hover {
  color: #30589E;
}

// ITEM HEAD INFOBOX
.item-infobox {
  // MAT: SUBTITLE 1
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  letter-spacing: 0.15px;
  font-weight: 400;

  line-height: 15px;

  padding: 0.4em;
  margin: 0.4em;
  display: inline-block;

  border: 2px solid yellow;
}


// FOR ID COLORS
.fid0 {
  border: 2px solid pink;
}

.fid1 {
  border: 2px solid purple;
}

.fid2 {
  border: 2px solid lightblue;
}

// PRIORITY COLORS
.pri0 {
  border: 2px solid green;
}

.pri1 {
  border: 2px solid yellow;
}

.pri2 {
  border: 2px solid orange;
}

.pri3 {
  border: 2px solid orangered;
}

.pri4 {
  border: 2px solid red;
}

// ITEM STOCK BOX
.item-in-stock {
  // MAT: SUBTITLE 1
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  letter-spacing: 0.15px;
  font-weight: 400;

  line-height: 15px;

  padding: 0.4em;
  margin: 0.4em;
  display: inline-block;
  border: 2px solid rgb(0, 255, 34);

  transition: .1s ease-in-out;
}

.item-out-stock {
  // MAT: SUBTITLE 1
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  letter-spacing: 0.15px;
  font-weight: 400;

  line-height: 15px;

  padding: 0.4em;
  margin: 0.4em;
  display: inline-block;
  border: 2px solid rgb(255, 0, 0);

  transition: .1s ease-in-out;
}

// ITEM FOOTER PILL
.item-footer-pill {
  // MAT: BUTTON
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  letter-spacing: 1.25px;
  font-weight: 500;

  background-color: #5929e7;

  display: inline-block;
  vertical-align: middle;

  //box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);

  padding: 0.5em 1em 0.5em 1em;

  margin-bottom: 0.6em;
  margin-left: 0.5em;

  border-radius: 20px;
  transition-duration: 0.1s;

  color: white;
}

.item-footer-pill:hover {
  background-color: #945aff;
  //cursor: pointer; TODO: Tag Details Page
}

.item-footer-pill mat-icon {
  display: inline;
  vertical-align: middle;
  font-size: 12px;
  letter-spacing: 1.25px;
  font-weight: 500;
  padding-bottom: 0.1em;
}

// ITEM DELETE BUTTON
.item-delete-btn {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  letter-spacing: 0px;
  font-weight: 500;

  background-color: #f7f7f7;

  display: inline-block;
  vertical-align: middle;

  //box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);


  margin-bottom: 0.5em;
  margin-left: 0.5em;

  border-radius: 20px;
  transition-duration: 0.1s;

  color: red;

  margin-right: 0.5em;
  margin-top: -0.5em;

  padding: 0.5em 1em 0.5em 1em;

  cursor: pointer;
}

.item-delete-btn:hover {
  background-color: #3779c1;
  //cursor: pointer;
}

.item-delete-btn mat-icon {
  display: inline;
  vertical-align: middle;
  font-size: 15px;
  padding-bottom: 0.2em;
}

.ri {
  float: right;

  margin-right: 0.5em;

  padding: 0.5em 1em 0.5em 1em;

  cursor: pointer;
}

// ITEM BUTTON COLORS
.add-stock {
  background-color:#9bdca4; //#b1e0ce
  color: rgba(0, 0, 0, 0.65);
}

.add-stock:hover {
  background-color: #6BAA75;//#81AE9D;
}

.del-stock {
  background-color: #ff8781;//#ffd1b9;
  color: rgba(0, 0, 0, 0.65);
}

.del-stock:hover {
  background-color: #E15554;// #FB9F89;
  color: rgba(0, 0, 0, 0.77);
}

// Delete Item Button Div
.r {
  float: right;
  margin: 0.2em;
}

.rBtnI {
  // MAT: BUTTON?
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  letter-spacing: 0.25px;

  line-height: 44px;

  background-color: #00000000;
  border-color: #00000000;
  color: white;
  font-weight: 500;
  display: inline-block;
  vertical-align: middle;
}

.rBtnI:hover {
  cursor: pointer;
  color: red;

}

.floatR {
  float: right;
  color: black;
  margin: 0.1em;
  margin-right: 0.3em;
  font-size: 30px;
  font-weight: 100;
}

.fr {
  border-left: 5px solid red;
}

.gr {
  border-left: 5px solid rgb(0, 255, 34);
}

hr {
  color: #45475721;
  margin: 0;
  padding: 0;
}

.item-banner {
  margin-left: 0.5em;
  height: 150px;
  width: auto;
}

.item-bannerImg {
  display: block;
  margin-top: auto;
  margin-bottom: auto;
  height: 95%;
}

// MOBILE
@media screen and (max-width: 500px) {
  .item-banner {
    height: 100px;
  }

  .toolbarBtn {
    font-size: 12px;
    letter-spacing: 0.4px;
    font-weight: 400;
    margin: 0em;
  }

  .logout {
    font-size: 12px;
    letter-spacing: 0.4px;
    font-weight: 400;
  }

  .logo {
    height: 32px;
  }

  .logo-img {
    width: 32px;
  }
}


.bannerD {
  margin-left: 0.5em;
  //cursor: pointer;
  height: 70px;
  width: auto;
}

.bannerImgD {
  max-height: 100%;
  /* The width is 100%, when the viewport is 800px or smaller */
}

mat-panel-title {
  // MAT: SUBTITLE 1
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  letter-spacing: 0.15px;
  font-weight: 400;
}