<ul class="project">

  <button mat-stroked-button 
  class="small-btn" 
  (click)="small = !small">
    | | |
  </button>

  <h2 class="red">Za nabavo</h2>


  <div *ngIf="small">
    <li *ngFor="let p of list; let i = index" class="smL">
      <a class="floatR rBtn" (click)="save(i)"> > </a>
      <h3> > {{p.name}}</h3>
    </li>
  </div>

  <div *ngIf="list.length === 0 && !loading">
    <h3>Seznam za nabavo</h3> 
    
    <button mat-stroked-button class="toolbarBtn" routerLink="/zaloge">Seznam zalog ></button>
  </div>


<div *ngIf="!small">


  <li *ngFor="let p of list; let i = index; trackBy: trackByFn;">


    <div class="head">

      <a class="title">{{p.name}}</a>
      <div class="vl"></div>

      <a class="team">{{p.user_name}}</a>
      <div class="vl"></div>
      <span class="status">Za nabavo</span>

      <div class="r">
        <button class="rBtn" mat-mini-fab color="accent" (click)="remove(i)" aria-label="Delete Item">
          X
        </button>
      </div>

    </div>

    <div class="banner">
      <img class="bannerImg" src="https://itc.infofix.eu/img/slist/items/{{p.img}}">
    </div>

    <div class="body">
      <div class="desc">{{p.description}}
      </div>
    </div>

    <div class="footer">
      <div class="footer-item fr">
        <!--<fa-icon [icon]="faTag"></fa-icon>-->
        {{p.category_name}}
      </div>

      <div class="footer-item ri" (click)="save(i)">
        <!--<fa-icon [icon]="faTag"></fa-icon>-->
        V zalogo >
      </div> 


    </div>

    <hr>

  </li>

</div>

</ul>


<!--
<div class="form-group">
  <button type="button" (click)="getProjs()">Fetch Projects</button>
</div>
-->

<div *ngIf="loading">.   .   .</div>

<div *ngIf="errorMessage" class="alert alert-warning">
  <strong>Warning!</strong> {{errorMessage}}
</div>
