<ul class="project">

  <li *ngFor="let p of list">
    <hr>
    <div class="banner" routerLink="">
      <img class="bannerImg" src="https://itc.infofix.eu/img/slist/items/infofix-test-banner-v5.png">
    </div>

    <div class="head">

      <a routerLink="" class="title">{{p.name}}</a>
      <div class="vl"></div>

      <a routerLink="" class="team">{{p.user_name}}</a>
      <div class="vl"></div>
      <span class="status">Nabava potrebna</span>

      <!--<div class="date">{{p.created}}</div>-->

    </div>

    <div class="body" routerLink="">
      <div class="desc">{{p.description}} <a>Show more…</a>
      </div>
    </div>

    <div class="footer">
      <div class="tags">
        <!--<fa-icon [icon]="faTag"></fa-icon>-->
        {{p.category_name}}
      </div>
    </div>

    <hr>

  </li>

</ul>


<!--
<div class="form-group">
  <button type="button" (click)="getProjs()">Fetch Projects</button>
</div>
-->

<div *ngIf="loading">.   .   .</div>

<div *ngIf="errorMessage" class="alert alert-warning">
  <strong>Warning!</strong> {{errorMessage}}
</div>
