<ul class="project">

  <button mat-stroked-button class="small-btn" (click)="small = !small">
    | | |
  </button>

  <h2 class="green">V zalogi</h2>


  <div *ngIf="small">
    <li *ngFor="let p of list; let i = index" class="smL">
      <a class="floatR rBtn" (click)="save(i)">
        < </a>
          <h3> > {{p.name}}</h3>
    </li>
  </div>


  <div *ngIf="list.length === 0 && !loading">
    <h3>Seznam zalog prazen</h3>

    <button mat-stroked-button class="toolbarBtn" routerLink="/l">
      < Seznam za nabavo</button>
  </div>


  <div *ngIf="!small">

    <li *ngFor="let p of list; let i = index; trackBy: trackByFn;">

      <div class="head">

        <a class="title">{{p.name}}</a>
        <div class="vl"></div>

        <a class="team">{{p.user_name}}</a>

        <div class="vl"></div>

        <div class="team" [ngClass]="{'bs0' :tst == 0 ,'bs1' :tst == 3 , 'bs2' :tst > 5 }">{{p.pri}}</div>

        <!-- TODO: priority symbols     
                <div class="team" [ngClass]="{'bs0' :tst == 0 ,'bs1' :tst == 3 , 'bs2' :tst > 5 }">| | |{{p.pri}}</div> -->

        <span class="in-stock">V zalogi</span>

        <!--<div class="date">{{p.created}}</div>-->

        <div class="r">
          <button class="rBtn" mat-mini-fab color="accent" (click)="trash(i)" aria-label="Delete Item">
            X
          </button>
        </div>

      </div>

      <div class="banner">
        <img class="bannerImg" src="https://api.infofix.eu/list/file/uploads/items/{{p.img}}">
      </div>


      <div class="body">
        <div class="desc">{{p.description}}
        </div>
      </div>

      <div class="footer">
        <div class="footer-item gr">
          <!--<fa-icon [icon]="faTag"></fa-icon>-->
          {{p.category_name}}
        </div>

        <div class="footer-item ri" (click)="save(i)">
          <!--<fa-icon [icon]="faTag"></fa-icon>-->
          < Za nabavo </div>

        </div>

        <hr>

    </li>

  </div>

</ul>




<!--
<div class="form-group">
  <button type="button" (click)="getProjs()">Fetch Projects</button>
</div>
-->

<div *ngIf="loading">. . .</div>

<div *ngIf="errorMessage" class="alert alert-warning">
  <strong>Warning!</strong> {{errorMessage}}
</div>