
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming


$md-slist: (
    50 : #e6e4f2,
    100 : #c1bbde,
    200 : #988dc9,
    300 : #6f5fb3,
    400 : #503da2,
    500 : #311b92,
    600 : #2c188a,
    700 : #25147f,
    800 : #1f1075,
    900 : #130863,
    A100 : #9e95ff,
    A200 : #6f62ff,
    A400 : #412fff,
    A700 : #2915ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$md-warn: (
    50 : #f9e0e0,
    100 : #f0b3b3,
    200 : #e68080,
    300 : #db4d4d,
    400 : #d42626,
    500 : #cc0000,
    600 : #c70000,
    700 : #c00000,
    800 : #b90000,
    900 : #ad0000,
    A100 : #ffd7d7,
    A200 : #ffa4a4,
    A400 : #ff7171,
    A700 : #ff5858,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

/* For use in src/lib/core/theming/_palette.scss */
$md-acc: (
    50 : #eff2e4,
    100 : #d8debb,
    200 : #bec98d,
    300 : #a3b35f,
    400 : #90a23d,
    500 : #7c921b,
    600 : #748a18,
    700 : #697f14,
    800 : #5f7510,
    900 : #4c6308,
    A100 : #e1ff95,
    A200 : #d2ff62,
    A400 : #c4ff2f,
    A700 : #bdff15,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);



@use '@angular/material' as mat;

// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$S-List-primary: mat.define-palette($md-slist);
$S-List-accent: mat.define-palette($md-acc, A200, A100, A400);

// The warn palette is optional (defaults to red).
$S-List-warn: mat.define-palette($md-warn);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$S-List-theme: mat.define-light-theme((
  color: (
    primary: $S-List-primary,
    accent: $S-List-accent,
    warn: $S-List-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($S-List-theme);


/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  src: local('Raleway'), local('Raleway'), url(https://fonts.googleapis.com/css2?family=Raleway&display=swap);
  font-display: swap;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');






html,
body {
  min-height: 1000px;
  max-height: 100%;
  scrollbar-color: #311b92 #e9e4ed;
  scrollbar-width: thin;
  margin: 0;
  color: rgb(19, 19, 19);
  text-align: center;
  background-color: #e9e4ed;
}
::selection {
  color: white;
  background: #311b92;
}


/*

$fontConfig: (
  display-4: mat-typography-level(100px, 100px, 300, 'Lato', -0.0150em),
  display-3: mat-typography-level(62px, 62px, 300, 'Lato', -0.0081em),
  display-2: mat-typography-level(50px, 50px, 400, 'Lato', 0.0000em),
  display-1: mat-typography-level(35px, 35px, 400, 'Lato', 0.0071em),
  headline: mat-typography-level(25px, 25px, 400, 'Lato', 0.0000em),
  title: mat-typography-level(21px, 21px, 500, 'Lato', 0.0071em),
  subheading-2: mat-typography-level(17px, 17px, 400, 'Lato', 0.0088em),
  subheading-1: mat-typography-level(15px, 15px, 500, 'Lato', 0.0067em),
  body-2: mat-typography-level(16px, 16px, 400, 'Raleway', 0.0313em),
  body-1: mat-typography-level(14px, 14px, 400, 'Raleway', 0.0179em),
  button: mat-typography-level(14px, 14px, 500, 'Raleway', 0.0893em),
  caption: mat-typography-level(12px, 12px, 400, 'Raleway', 0.0333em),
  input: mat-typography-level(10px, 10px, 400, 'Raleway', 0.1500em)
);

h1 {
  font-family: unquote("Lato");
  font-size: 100;
}
h2 {
  font-family: unquote("Lato");
  font-size: 62;
}
h3 {
  font-family: unquote("Lato");
  font-size: 50;
}
h4 {
  font-family: unquote("Lato");
  font-size: 35;
}
h5 {
  font-family: unquote("Lato");
  font-size: 25;
}
h6 {
  font-family: unquote("Lato");
  font-size: 21;
}

$mdc-typography-styles-body1: (
  font-family: unquote("Raleway"),
  font-size: 16
);
$mdc-typography-styles-body2: (
  font-family: unquote("Raleway"),
  font-size: 14
);
$mdc-typography-styles-subtitle1: (
  font-family: unquote("Lato"),
  font-size: 17
);
$mdc-typography-styles-subtitle2: (
  font-family: unquote("Lato"),
  font-size: 15
);
$mdc-typography-styles-button: (
  font-family: unquote("Raleway"),
  font-size: 14
);
$mdc-typography-styles-overline: (
  font-family: unquote("Raleway"),
  font-size: 10
);
$mdc-typography-styles-caption: (
  font-family: unquote("Raleway"),
  font-size: 12
);
*/

/* Add a thumb */
.mostly-customized-scrollbar::-webkit-scrollbar-thumb {
  background: #000;
}

/*
p {
  font-weight: 300;
  letter-spacing: 0.05em;
  font-size: 17px;
  line-height: 1.6em;
}

h1 {
  font-size: 40px;
  font-weight: 300;
  margin-bottom: 0.5em;
  line-height: 1.4;
  text-transform: uppercase;
}

h2 {
  font-size: 28px;
  font-weight: 100;
  line-height: 28px;
  text-transform: uppercase;

  margin-bottom: 1em;
}

h3 {
  font-weight: 100;
  letter-spacing: 0.05em;
  font-size: 19px;
  line-height: 1.6em;
} */
